{% include '_partials/_header.html' %}
<div id="smooth-wrapper">
    <div id="smooth-content">
        <section class="section">
            <div class="wrapper">
                <h2 class="h1 js-pinned">Le web c'est cool!</h2>

                <img src="assets/images/perso1.jpg" class="img img--large" alt="" />
                <img src="assets/images/perso2.jpg" class="img img--small" alt="" />
                <img src="assets/images/perso3.jpg" class="img img--large" alt="" />
            </div>
        </section>

        <section class="section">
            <div class="wrapper">
                <h2 class="h1 js-pinned">Les étudiants ont du style</h2>
                <img src="assets/images/perso4.jpg" class="img img--medium" alt="" />
                <img src="assets/images/perso5.jpg" class="img img--large" alt="" />
                <img src="assets/images/perso7.jpg" class="img img--small" alt="" />
                <img src="assets/images/perso6.jpg" class="img img--medium" alt="" />
            </div>
        </section>
        <section class="section section--horiz js-horiz">
            <div class="section__content js-panel">
                <h2 class="h1">Ici on scroll à la vertical</h2>
            </div>
            <div class="section__content js-panel">
                <h2 class="h1">
                    <svg class="icon icon--md">
                        <use xlink:href="#icon-arrow-right"></use>
                    </svg>
                    <br />
                    On change la direction
                </h2>
            </div>
            <div class="section__content js-panel">
                <h2 class="h1">
                    <svg class="icon icon--md">
                        <use xlink:href="#icon-arrow-down"></use>
                    </svg>
                    <br />
                    On retourne vers le bas
                </h2>
            </div>
        </section>
        <section class="section">
            <div class="wrapper">
                <h2 class="h1 js-pinned">💪 On vient de s'amuser avec GSAP!</h2>
                <img src="assets/images/perso8.jpg" class="img img--medium" alt="" />

                <img src="assets/images/perso9.jpg" class="img img--small" alt="" />
            </div>
        </section>
    </div>
</div>
{% include '_partials/_footer.html' %}
